$base: 1rem;
$container: 1500px;
$background_color: #fff;

$space: 1rem;

$white: #fff;
$black: #111;
$primary: #ff6900;
$secondary: #172153;

$font-color: $black;

$table_title_color: $white;
$border_table: lighten($black, 60%);
