---
import getHooks from "../lib/hooks";
export async function getStaticPaths() {
    const hooks = await getHooks();

    return hooks.hooks.map((hook) => ({
        params: {slug: hook.name},
        props: {
            title: hook.name,
            type: hook.type,
            since: hook.since,
            params: hook.params,
            summery: hook.summery,
            description: hook.description,
            author: hook.author,
        },
    }));
}

const { title, type, description = '' } = Astro.props;
---
<html lang="en">
<head>
    <title>{title}</title>
</head>
<body>
<h1>{title}</h1>
<p>{type}</p>
{description !== '' &&
        <p>{description}</p>
}
</body>
</html>