---
import getHooks from "../lib/hooks";
// Component Imports
import SearchList, {Hook} from "../components/SearchList";

const hooks = await getHooks();
const names = hooks.hooks.map(hook => {return {
	    name: hook.name,
		type: hook.type
} as Hook;});
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<SearchList list={names} client:visible/>
		</main>
	</body>
</html>
